-i https://packages.nautechsystems.io/simple
--extra-index-url https://pypi.org/simple
--only-binary=nautilus-trader

wheel
streamlit
pandas
numpy
plotly
nautilus_trader
clickhouse-driver
streamlit-lightweight-charts-v5>=0.1.7
